body {
    background-color: lemonchiffon;

    background-image: url('/static/img/hastbullar_tsnoni.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    min-height: 100px;
}

.jumbotron {
    background-color: burlywood;
    margin-top: 10px;
}

.btn, .btn-lg, .btn-primary {
    background-color: chocolate;
    border: none;
}

.jumbotron.a, .jumbotron.a:active, .jumbotron.a:hover {
    color: chocolate;
}

footer, a, a:active, a:hover {
    color: white;
}

.card {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
}

.card-header {
    background-color: burlywood;
    border-color: chocolate;
}

.card.body {
    background-color: burlywood;
}
