{% extends "layout.html" %}

{% block title %}Accueil{% endblock %}

{% block navigation %}
{{ super() }}
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="{{ url_for('index') }}">Accueil</a>
        <a class="nav-item nav-link active" href="#">Demo</a>
        <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Identification</a>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        Gérer facilement les membres de votre équipe
    </div>
    <div class="card-body">
        <p>Membres de l'équipe</p>
        <table class="table">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Mail</th>
            </tr>
            <tr>
                <td>Toto</td>
                <td>Toto</td>
                <td>toto@masuperboite.fr</td>
            </tr>
            <tr>
                <td>Titi</td>
                <td>Titi</td>
                <td>titi@masuperboite.fr</td>
            </tr>
            <tr>
                <td>Tutu</td>
                <td>Tutu</td>
                <td>tutu@masuperboite.fr</td>
            </tr>
        </table>
    </div>
</div>
<div class="card">
    <div class="card-header">
        Un board simplifié
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>Nom</th>
                <th>Progression</th>
                <th>Progression (alternative)</th>
            </tr>
            <tr>
                <td>Toto</td>
                <td><i class="fas fa-mug-hot"></i>
                    <i class="fas fa-mug-hot"></i>
                </td>
                <td><i class="fas fa-cookie-bite"></i>
                    <i class="fas fa-cookie-bite"></i>
                </td>
            </tr>
            <tr>
                <td>Titi</td>
                <td><i class="fas fa-mug-hot"></i><i class="fas fa-mug-hot"></i><i class="fas fa-mug-hot"></i></td>
                <td><i class="fas fa-cookie-bite"></i><i class="fas fa-cookie-bite"></i><i
                        class="fas fa-cookie-bite"></i></td>
            </tr>
            <tr>
                <td>Tutu</td>
                <td>
                    <i class="fas fa-mug-hot"></i>
                </td>
                <td><i class="fas fa-cookie-bite"></i></td>
            </tr>
        </table>
    </div>
</div>
<div class="card">
    <div class="card-header">
        Défnissez des seuils de retard, des horaires
    </div>
    <div class="card-body">
        blablabla
    </div>
</div>
{% endblock %}